body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 100, 0.5)),;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
    text-align: center;
    background-color: rgb(112, 86, 86);
}
ol{
   font-style: italic;
   text-emphasis-color:#502c4d ;
   background-color: transparent;
   background-clip: border-box;
   border: 3px double beige;
   width: fit-content;
   text-align: left;
   border-radius: 20px;
}
.strong{
    font-weight: bolder
}
img{
    background-color: beige;
    width: 200px;
    height: 200px;
}
h4{
  text-align: left;
}
header{
    font-weight: bold;
    display: block;

}
div{
    flex-direction: column;
    font-family: fantasy;
    font-style: initial;
}
#logos{
    height: 100px;
    width: 100px;
}
#reviews{
    text-align: left;
   
}
#ddescription{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    
}

.sport{
    text-align: left;
}
.vogue{
    text-align: left;
}
.velar{
    text-align: left;
}
.defender{
    text-align: left;
}
.lexus{
    text-align: left;
}
.v9{
    text-align: left;
}
.jeep{
    text-align: left;
}
.volkswagen{
    text-align: left;
}
.bmw{
    text-align: left;
}
.benz{
    text-align: left;
}
.mercedes{
    text-align: left;
}